@media only screen and (max-width:769px)
{

	.footerr{
	width:99% !important;
	
	
	}
	
	.footerr a{
	font-size:10px;
	}

	
	
	#leftfooter a{
	font-size:9px !important;
	
	}
	
	#rightfooter a {
	font-size:9px !important;
	
	}
	
	#rightfooter p{
	font-size:9px !important;
	
	}
	
	#leftfooter{
	width:44% !important ;
	padding-left:1% !important;
	
	float:left;
	}
	
	#rightfooter{
	width:44% !important ;
	float:right !important;

	

	}



}


@media only screen and (max-width:1025px)
{

	.footerr{
	width:98% !important;
	
	
	}
	
	.footerr a{
	font-size:12px;
	}

	#leftfooter a{
	font-size:12px !important;
	
	}
	
	#rightfooter a {
	font-size:12px !important;
	
	}
	
	#rightfooter p{
	font-size:12px !important;
	
	}
	
	#leftfooter{
	width:40% !important ;
	
	float:left;
	}
	
	#rightfooter{
	width:42% !important ;
	float:right !important;



	}



}


	.footerr{
	background:black fixed !important;
	height:auto;
	padding-left:4%;
	padding-top:1%;
	padding-bottom:2%;
	line-height:1.5;
	
	}

	#leftfooter{
	width:35%  ;
	padding-left:10% !important;
	float:left;
	}
	
	#rightfooter{
	width:30% ;
	float:right !important;
	font-size:14px;
	
	}
	
	


	


